.blog-container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: var(--clr-primary);
    color: var(--clr-dark);
    border-radius: 0.2vw;
  }
  
  .blog-image {
    width: 100%;
    height: auto;
    border-radius: 0.2vw;
  }
  
  .blog-title {
    font-size: 2rem;
    color: #333;
    margin: 1rem 0;
  }
  
  .blog-text {
    font-size: 1.2rem;
    color: #666;
  }