@font-face {
  font-family: "IRANsans";
  src: url("./assets/fonts/IRANSans-web.woff") format("woff2");
}
body {
  font-family: "IRANsans" !important;
}
/* Scroll To Top Button */
.top-to-btm {
  position: relative;
}
.icon-position {
  position: fixed;
  bottom: 40px;
  left: 25px;
  z-index: 20;
}
.icon-style {
  background-color: var(--clr-secondary);
  border: 2px solid var(--clr-primary);
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  color: var(--clr-primary);
  cursor: pointer;
  animation: movebtn 3s ease-in-out infinite;
  transition: all 0.5s ease-in-out;
}
.icon-style:hover {
  animation: none;
  background: var(--clr-primary);
  color: var(--clr-secondary);
  border: 2px solid var(--clr-secondary);
}
@keyframes movebtn {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* Scroll Bar ----------------------------------------------------------- */
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* button */
::-webkit-scrollbar-button {
  background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background: var(--clr-primary);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--clr-primary);
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}
/* The track NOT covered by the handle.
::-webkit-scrollbar-track-piece {
background: #000;
}
/* Corner */
::-webkit-scrollbar-corner {
  background: var(--clr-dark);
}
/* Resizer */
::-webkit-resizer {
  background: var(--clr-dark);
}
