/* All Tags -------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 0.95rem;
  /* font-family: "Shabnam", sans-serif; */
}
/* Body ----------------------------------------------*/
body {
  overflow-x: hidden;
  background-color: var(--clr-dark) !important;
  color: var(--clr-primary) !important;
}
.zero-padding {
  padding: 0;
}
/* Restrict User Select On Text -----------------------------*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  user-select: none;
}
a {
  text-decoration: none;
}
/* Variables ----------------------------------------------------------------- */
:root {
  --clr-primary: #cecac8;
  --clr-secondary: #903f98;
  --clr-accent: #fdbb63;
  --clr-dark: #3a3e3d;
}
